* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Barlow", sans-serif;
}

.container {
  background: url("assets/pexels-donald-tong-23474.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.9;
  height: 600px;
  position: relative;
}
.headerContent {
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  font-size: 90px;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
}
.headerContent1 {
  position: absolute;
  top: 50%;
  left: 75%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  font-size: 90px;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
}

nav {
  background: transparent;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 70px;
  height: 70px;
  background-image: url("assets/tickstitch-high-resolution-logo-white-on-transparent-background.png");

  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu li {
  display: inline-block;
  margin: 0 10px;
}

.menu li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 20px;
  padding-right: 70px;
}

/* .button {
  height: 30px;
  width: 90px;
  position: relative;
  top: 13px;
} */

.button {
  height: 30px;
  width: 90px;
  position: relative;
  top: 13px;
  background-color: transparent;
  border: 1px solid rgb(220, 220, 220);
  outline: none;
  color: rgb(255, 255, 255);
  margin-right: 20px;
}

.button:hover {
  outline: 2px solid rgb(34, 189, 224);
  border-radius: 4px;
  background-color: #000;
  color: white;
}
